@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
  body {
    background-color: #FBF7F2;
    color: #1C0E05;
  }
}
